<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center">
    <h1>Login to your account</h1>
    <br/>
    {{ wtf.quick_form(form) }}
      <!----
        The bootstrap/wtf.html template contains macros to help you output forms quickly.
        The most basic way is using them as an aid to create a form by hand:

        However, often you just want to get a form done quickly and have no need for intense fine-tuning:

        {{ wtf.quick_form(form) }}
      -->
  </div>
</div>
{% endblock %}
